
    <header>
        <a href="/creatures"><div class="container">
            <div class="row">
                <div class="col-lg-12">

                    <%= image_tag("xscreature.png") %>
                    <div class="intro-text">
                        <span class="name">My Little Creature</span>
                        <span class=""><small>Find Amazing Creatures and Document Them</small></span>
                        <hr class="star-light">
                        <span class="skills">Web Developer - Graphic Artist - User Experience Designer</span>
                    </div>
                </div>
            </div>
        </div></a>
    </header>

